{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    
    <form method="post" style="width:500px; margin: auto;" class="py-5" novalidate>
        {% csrf_token %}
        <h3>Log In</h3>
        <!--{{form | crispy }}-->
        {% for fm in form %}
        <div>
            
            {{ fm.label_tag }}
            {{ fm }}
            <p>{{ fm.errors | striptags }}</p>
        </div>
        {% endfor %}

        <small>You don't have any Account / <a href="{% url "register" %}">Register</a></small><br>

        <button class="btn btn-dark mt-2" type="submit">Submit</button>
    </form>

{% endblock body %}